<%- include("partials/header.ejs") %>

<main>

    <form action="/get-pokemon" method="get">
        <input type="submit" value="GET POKEMON">
    </form>
    
    
    <%if(!locals.data){%>
        <p>Click in the "GET POKEMON" Button!</p>
    <%}else{%>
        <p> <%= data.name %>  </p>
        <img src="<%= data.image %>" alt="Pokemon Image">
    <% } %>    

</main>

<%- include("partials/footer.ejs") %>