@media (max-width: 600px){
    
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
    img{
        background-color: white;
        display: block;
        margin: auto;
        border-radius: 20px;
        border: 1px solid black;
    
        width: 80%;
    }
    
    main{
        width: 65%;
    }
}